body {
    margin: 0px;
    border: 0px;
    background-color: #504f4f;
}
#navbar {
    
    height: 38px;
    display: flex;
    align-items: center;
    color: rgb(255, 240, 203);
    background-color: #333;
    padding: 10px 20px;
}
#navbar-left{
    display: flex;
    align-items: center;
}


#navbar-right{
    display: flex;
    margin-left: auto;
}
.navbar-buttons{

    margin: 10px;
    padding: 0px 10px;
    background-color: rgb(100, 100, 100);
    color: rgb(255, 240, 203);
    border-radius: 3px;
}
.navbar-buttons:hover {
    background-color: rgb(195, 114, 114);
    cursor: pointer;
}
#rotating-img {
    justify-content: center; 
    align-items: center;
    opacity: .5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;

}
.h2 {
    margin: 100px;
    text-align: auto;
    color: burlywood;
}
